.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto
inst/doc
/doc/
/Meta/
docs
quinn.myopia.Rcheck/
quinn.myopia*.tar.gz
quinn.myopia*.tgz
**/.quarto/
**/*.quarto_ipynb
vignettes/*.pdf
vignettes/*.tex
README.html
